.card {
  box-shadow: 7px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.passwordParent {
  position: relative;
}

.passwordIconHolder {
  z-index: 100;
  position: absolute;
  top: 40px;
  right: 2%;
}

.passwordIcon {
  color: black;
}

.passwordIcon:hover {
  cursor: pointer;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

footer {
  margin-top: 5%;
  position: absolute;
  bottom:0;
  width: 100%;
  height: 2.5rem;
}

#content {
  position: relative;
  min-height: 85vh;
  padding-bottom: 4rem;
}

/* .parsley-pattern {
    position:absolute;
    top: 100%;
    right: 2%;
}

.form-control {
    margin-bottom: 4%;
} */